{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>React App</title>
</head>
<body>
  <div id="root"></div>

  <script src="{% static 'js/main.889ad5f0.js' %}"></script>
  <script>
function processSearchURL() {
  // Получаем текущий закодированный URL
  const currentEncodedURL = window.location.pathname;

  // Декодируем значение someWord из URL
  const decodedURL = decodeURIComponent(currentEncodedURL);
  const match = decodedURL.match(/\/search\/([^\/]+)/);

  if (match) {
    const someWord = match[1].toLowerCase();
    console.log(someWord); 

    const h1Elements = document.querySelectorAll('h1');
    h1Elements.forEach((element) => {
      const html = element.innerHTML;
      if (element.querySelector(".marker") === null){
      const htmlLower = html.toLowerCase();
      const index = htmlLower.indexOf(someWord);
      console.log(html)
      if (index !== -1) {
        const part1 = html.slice(0, index);
        const part2 = html.slice(index + someWord.length);
        const wordToHtml = html.slice(index, index + someWord.length)
        element.innerHTML = `${part1}<p class="marker">${wordToHtml}</p>${part2}`;

         const markerElement = element.querySelector('p.marker');
      markerElement.style.display = "inline"; 
      markerElement.style.margin = "0";      }
    }});
  } else {
    console.log("someWord не найден в URL");
  }
}
document.addEventListener("DOMContentLoaded", function(event) {
  // Ждем 500 мс и потом вызываем функцию
  setTimeout(processSearchURL, 500);
});
  </script>

</body>
</html>